[Unit]
Description=Iptables firewall.
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart={{ firewall_start_script }}
ExecReload={{ firewall_start_script }}
ExecStop={{ firewall_stop_script }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target