---

{% for current_file in firewall_script_files %}

file:
  {{ current_file.dest }}:
    exists: true
    mode: "{{ current_file.mode }}"
    owner: root
    group: root
    filetype: file

{% endfor %}

sytemd:
  firewall:
    enabled: true
    running: true