  DocumentRoot "{{ apache_vhosts_dir }}/{{ item.key }}"
  <Directory "{{ apache_vhosts_dir }}/{{ item.key }}">
    Options None
    AllowOverride None
    Require all granted
  </Directory>


  LogLevel {{ apache_conf_log_level }}
  <IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%{Referer}i -> %U" referer
    LogFormat "%{User-agent}i" agent
    {% if item.value.https_enabled %}
    # Custom Log format for SSL request
    LogFormat "%t %h %{HTTPS}x %{SSL_PROTOCOL}x %{SSL_CIPHER}x \%{SSL_CIPHER_USEKEYSIZE}x %{SSL_CLIENT_VERIFY}x \"%r\" %b" ssl_log
    {% endif %}
    CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.key }}/access_%Y%m%d.log 86400" combined
    {% if item.value.https_enabled %}
    CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.key }}/ssl_request_%Y%m%d.log 86400" ssl_log
    {% endif %}
    ErrorLog  "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.key }}/error_%Y%m%d.log 86400"
  </IfModule>